@import "tailwindcss";

:root {
  --background: #F2F3F5;
  --foreground: #171717;
  --white: #FFF;
  --gray-line: #DCDDE0;
  --text: #666666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4CD62B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
  
  --font-inter: var(--font-inter);
  --font-rajdhani: var(--font-rajdhani);
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font-family: var(--font-inter), "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.font-inter {
  font-family: var(--font-inter), "Inter", sans-serif;
}

.font-rajdhani {
  font-family: var(--font-rajdhani), "Rajdhani", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

